{# purpose of this template: links admin index view #}
{% extends 'RKDownlinkModule::adminBase.html.twig' %}
{% block title __('links') %}
{% block admin_page_icon 'home' %}
{% block content %}
    <p>{{ __('Welcome to the link section of the Downlink application.') }}</p>
{% endblock %}
